/* 
    Document   : style
    Created on : Nov 4, 2012, 11:23:18 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image:url('../img/light_noise_diagonal.png');
}

.container{
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.75);
    background-color: #FAFAFA;
}

.imac{
    margin-top: 20px;
}